body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    position: fixed;
     left: 0;
  bottom: 0;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;

}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.split {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: lightgrey;
}

.right {
  left: 50%;
  background-color: none;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 160px;
  border-radius: 70%;
}

.menuside {
    position: absolute;
    top: 10%;
    left: 25%;
}


.pad{
text-align: center;
text-decoration: none;
font-size: 25px;
padding: 6px 8px 6px 16px;
display: block;
}

.pad a {
    text-align: center;
text-decoration: none;
font-size: 25sx;
padding: 6px 8px 6px 16px;
display: block;
}

p.sansserif{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 20px;
position: fixed;
height: 50%;
width: 50%;
top: 50%;
left: 40%;
}

a.fixa{
position: fixed;
top: 65%;
left: 57%;
}