<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
<body>
	
	<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
	
<pre>
			</pre>
<a href="mailto:dikshapathak.95@gmail.com">
<img border="0" alt="Email" src="\images\mail.png" width="40" height="40">
</a>
<a href="https://www.linkedin.com/in/diksha-pathak123412/">
<img border="0" alt="linkedin" src="\images\linkedin.png" width="40" height="40">
</a>
<a href="https://github.com/pathakdiksha">
<img border="0" alt="github" src="\images\github.png" width="40" height="40">
</a>
<a href="https://www.instagram.com/_dikshapathak/?hl=en">
<img border="0" alt="instagram" src="\images\instagram.png" width="40" height="40">
</a>

</body>

</html>
